[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
itsdangerous = "==2.1.2"
pydantic = "==1.10.11"
requests = "==2.31.0"
fastapi = "==0.101.0"
mangum = "==0.17.0"
typing-extensions = "==4.7.1"
urllib3 = "<3.0"
sentry-sdk = {version = "*", extras = ["fastapi"]}

[dev-packages]
boto3 = "*"
ipython = "*"
uvicorn = "==0.23.0"

[requires]
python_version = "3.10"
python_full_version = "3.10.8"
